@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.popin-fonts{
    font-family: "Poppins", sans-serif;
}
.inner-shadow{
    box-shadow: inset #1BE4AEAB 0px 0px 10px 0px, inset #1BE4AEAB 0px 0px 10px 0px, inset #1BE4AEAB 0px 0px 20px -10px;
}
.radial-color {

    background: #464B58B4;
    /* background: radial-gradient(ellipse at top, #464B58B4, transparent),
    radial-gradient(ellipse at bottom, #464B58B4, transparent); */
    background-size: cover;

}
.ant-select-selector{
    background-color: transparent !important;
    border: 1.27px solid #3C424EA6 !important;
    /* height: 54.54px !important; */
    border-radius: 36.68px!important;
    
}
.ant-select-item-empty{
    background-color: transparent !important;
}
.ant-select-dropdown{
    background: transparent !important;
    /* height: 54.54px !important; */
    
}
.ant-select-arrow{
    color: #97A1C2 !important;
    
}
.ant-select-selection-search{
    
}
.gradiant-style{
    background: linear-gradient(0.25turn, #F5F7FA1F, #F5F7FA0F, #F5F7FA00)
}
.gradiant-button{
    background: linear-gradient(0.25turn,  #08CD92, #0264F8 , #CE2DF9 );
    padding:7px 28px 7px 28px;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 30.86px;
}

.bet-card-gradiant{
    background: linear-gradient(0.25turn, #F5F7FA1F , #F5F7FA0F , #F5F7FA00);
    border-radius: 17.96px;
    border:1.28px solid #464B58B4;
    padding: 21px 31px 21px 31px;
}